<table>
  <tr>
    <th>Alias</th>
    <th>Status</th>
    <th>Toggle</th>
  </tr>
  {% for mac, alias, status in plugs %}
  <tr>
    <td>
      <a href="{{ url_for('stream', plug_num=loop.index0) }}">{{ alias }}</a>
    </td>
    <td>{{ status }}</td>
    <td>
      <form action="{{ url_for('toggle') }}" method="post">
        <input type="hidden" name="mac" value="{{ mac }}">
        <input type="hidden" name="status" value="0">
        <input type="submit" value="OFF">
      </form>
    </td>
    <td>
      <form action="{{ url_for('toggle') }}" method="post">
        <input type="hidden" name="mac" value="{{ mac }}">
        <input type="hidden" name="status" value="1">
        <input type="submit" value="ON">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
