<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Plug #{{plug_num}}</title>
<script type="text/javascript"
  src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script type="text/javascript"
  src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.2.min.js"></script>
<script type="text/javascript"
  src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script type="text/javascript"
  src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script type="text/javascript"
  src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.2.min.js"></script>
<script type="text/javascript"
  src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
  type="text/javascript">
</script>

<script>
  // create a data source to hold data
  const source = new Bokeh.ColumnDataSource({
      data: { x: [], y: [] }
  });

  // make a plot with some tools
  const plot = Bokeh.Plotting.figure({
      sizing_mode: 'stretch_width',
  });

  // add a line with data from the source
  plot.line({ field: "x" }, { field: "y" }, {
      source: source,
  });

  var rBuf = new Int8Array(4);
  window.crypto.getRandomValues(rBuf);
  const r = new DataView(rBuf.buffer).getUint32();

  client = new Paho.MQTT.Client("localhost", Number(8883), "plug0-"+r);
  client.onMessageArrived = onMessageArrived;
  client.connect({onSuccess:onConnect});

  function onConnect() {
    client.subscribe("plug/{{plug_num}}");
  }

  function onMessageArrived(m) {
    let [ts, pwr] = m.payloadString.split(",").map(parseFloat);
    source.data.x.push(ts)
    source.data.y.push(pwr)
    source.change.emit()
  }
</script>
</head>

<body>
<div>
  This is an example of a plot that updated with data from an mqtt client
  running client side that recieves data through websockets, embedded in an
  arbitrary html document.
</div>
<script>Bokeh.Plotting.show(plot);</script>
</body>
</html>
